@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$white: #FFFFFF;
$black: #000000;
$background_color: #F1F2F4;
$dark-grey : #333333;
$light-grey : #898989;
$lighter-grey : #F1F1F1;

// Link
$base_color: #384452;
$link_hover_color: #01B2FE;

// Navigation
$navbar_background_color: #384452;
$navbar_link_color: #00B3FE;

// Header
$header_wrapper_color: #00B3FE;

// Footer
$footer_background_color: #384452;
$footer_text_color: #BFC9D3;
$footer_icon_hover: #00B3FE;

// Blog
$post_title_color: #00B3FE;
$post_h_f_border_color: #D2D2DD;
$post_posted_at_color: #B3B3B3;
$post_posted_by_color: #F39C12;

// Button
$btn_blue_color: #384452;
$btn_light_blue_color: #5AB6F7;
$btn_blue_hover_color: #00B3FE;

// Sidebar
$badge_blue_color: #00B3FE;
$recent_post_link_color: #2F2F2F;
$recent_post_em_color: #B3B3B3;

// Post Comments
$comment_metadata_color: #999999;
$comment_reply_link_color: #FF9D1D;
$comment_reply_link_hover_color: #F56B08;
$post_navigation_link_hover_color: #FF9D1D;

// Pagination
$pagination_background_color: #E6E8EC;
$pagination_color: #4D306E;
$pagination_border_color: #D2D2DD;
$pagination_active_background_color: #5AB6F7;

// Clients
$clients_background_color: #F7F7F7;

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
$raleway_font: 'Raleway', sans-serif;
$lato_font: 'Lato', sans-serif;

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/
$time: 320ms;
$time_slow: 700ms;

$swing: cubic-bezier(0.55, 0, 0.1, 1);
$swift: cubic-bezier(0.4, 0, 0.2, 1);
$ease: ease;

$transition-default: all $time $ease;
