ul.wp_bootstrap_comment {
  padding: 0;
  list-style: none;

  .media-left {
    .media-object {
      img {
        max-width: none;
      }

      .avatar {
        border-radius: 50%;
        margin-right: 10px;
        border: 3px solid $white;
      }
    }
  }

  .media-body {
    font-size: 16px;
    font-weight: 300;

    .comment-metadata {
      text-align: right;
      text-transform: uppercase;
      margin-top: 5px;
      font-size: 12px;

      a {
        color: $comment_metadata_color;
      }
    }

    .list-inline {
      text-align: right;
      padding: 5px 0;
    }

    a.comment-reply-link {
      text-transform: uppercase;
      color: $comment_reply_link_color;

      &:hover,
      &:focus {
        color: $comment_reply_link_hover_color;
      }
    }

    .comment-respond {
      margin-top: 60px;
    }
  }
}

.comment {
  //&__navigation {
  //}

  &__nav-previous,
  &__nav-next {
    padding: 10px 0;

    a {
      padding: 0 5px;

      &:hover,
      &:focus {
        color: $post_navigation_link_hover_color;
      }
    }
  }
}
