/* --------------------------------------------------------------
# Navigation
-------------------------------------------------------------- */
.navbar {
  min-height: 70px;
  padding-top: 10px;
  margin-bottom: 0;
  background-color: $navbar_background_color;
  border-color: transparent;

  .navbar-header {
    .navbar-brand {
      font-family: $raleway_font;
      font-weight: 900;
      color: $white;
    }
  }

  .navbar-nav {
    li {
      a {
        color: $white;
        font-weight: 700;
        font-size: 12px;

        &:hover {
          color: $navbar_link_color;
        }
      }
    }

    .active {
      a,
      a:hover,
      a:focus {
        color: $navbar_link_color;
        background-color: transparent;
      }
    }
  }

  .dropdown-menu {
    background: $navbar_background_color;

    li {
      a {
        color: $white;
        font-weight: 700;
        font-size: 12px;
      }
    }
  }
}
