/***********************************************************************************
* About
***********************************************************************************/
.about__wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.tpl6 a,
i {
  color: $white;
}

.tpl6 h3 {
  color: $white;
  margin: 0;
  padding: 40px 5px 0;
  font-size: 16px;
  text-transform: uppercase;
}

.tpl6 .dmbutton {
  display: inline-block;
  margin: 30px 5px 20px;
  font-size: 13px;
}

.tpl6 .bg {
  height: 100%;
  width: 100%;
  background-color: #00b3fe;
  background-color: rgba(0, 179, 254, .9);
  text-align: center;
}
