/***********************************************************************************
* Contact
***********************************************************************************/
#contact__wrapper {
  margin-top: 70px;
  margin-bottom: 0;
  padding-top: 0;
  background: url(../../images/contact-background.jpg) no-repeat center top;
  min-height: 400px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
